<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HealthMap</title>
        <meta name="description" content="Interactive Visualization for HealthData"/>
        <meta name="keywords" content="health, map, analytics"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="/static/img/favicon.png">
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    </head>

    <body> 
         <!-- Top Menu -->
        <div class=nav>
            <h1><a id=brandname href="/">HealthMap <i class="material-icons">map</i></a></h1>
        </div>

        <div class=header>
                <button class="button"><span><a href="/locations">Location Analytics</a></span></button>
                <button class="button"><span><a href="/top_diseases">Top Searched Diseases</a></span></button>
        </div>

        <div class=footer> 
            <br />
            <p> Made with ♥ by HealthInsights © 2018-2019</p>
        </div>
    </body>
</html>
